@import 'typography';
@import 'mixins';
@import 'breakpoints';
@import 'variables';

@mixin footer-style {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: $bandsite-black;
    color: $primary-font-color;
    padding: 0em 1rem;
    box-sizing: border-box;
}



@include mobile {
    .footer {
        @include mobile-body-footer-text;
        @include footer-style;

        &--h1 {
            @include mobile-page-section-header;
        }
       
        &__endnote {
            margin-bottom: 1rem;
            margin-top: 1rem;
            font-size: 0.625rem;
        }
    }

    .contact__heading {
        font-weight: 700;
    }

    .social__icons {
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: end;
        gap: 2em;
    }

    .icons {
        width: auto;
        height: 100%;
    }
}

@include tablet {

    .footer {
        @include desktop-body;
        background-color: aquamarine;
    }
}

// .footer {
//     @include footer-style;
//     position: relative;
//     padding-left: 10rem;

//     &__social {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: center;
//         width: 40%;
        

//         &--h1 {
//             @include desktop-section-header;
//         }
//     }

//     &__endnote {
//         margin-bottom: 4rem;
//     }
// }

// .contact__heading {
//     font-weight: 700;
// }

// .social__icons {
//     display: flex;
//     justify-content: space-between;
//     width: 45%;
// }


// .bandsite-logo {
//     width: 25%;
//     margin-bottom: 1.5rem;
//     margin-top: 10%;
// }

