@import 'mixins';
@import 'variables';
@import 'breakpoints';
@import 'typography';

.comments {

    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    font-family: 'Averni-Regular';

    
    @include tablet {
        border: 1px solid pink;
        align-items: start;
        max-width: 100%;
    }

    @include desktop {
        height: auto;
    }

    &__header {
        font-family: 'Averni-Demi';
        font-weight: 700;

        @include tablet {
            font-size: 2.5rem;
            padding-left: 2rem;
        }

        @include desktop {
            font-size: 2.5rem;
            padding-left: 8rem;
        }
    }

    &__container {

        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;


        @include tablet {            
            border: 1px solid green;
            justify-content: end;
            width: 80%;
            padding-left: 7rem;
            padding-right: 2rem; 
        }

        @include desktop {
            width: 66%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid $mercury;

            
        }
    }

    &__form {

        display: flex;
        flex-direction: column;
        flex: 2;
        padding-left: 1rem;

        @include tablet {
            justify-content: end;
            align-items: end;
            width: 100%;
        }

        @include desktop {
            align-items: end;
        }

      
    }

    &__image {

        height: 2.25rem;
        object-fit: cover;
        width: 2.25rem;
        border-radius: 50%;
    }
}

.name-form {
    display: flex;
    flex-direction: column;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 100%;
    }

    & > label {
        color: $mercury;
        font-size: 0.8125rem;

        @include tablet {
            font-size: 0.875rem;
        }
    }
    &__input {

        border: 1px solid $mercury;
        background-color: $alabaster;
        border-radius: 4px;
        box-shadow: none;
        height: 1.5rem;
        text-align: start;

        @include desktop {
            height: 2rem;
        }

    }
}



.comment-form {
    @extend .name-form;
    font-family: 'Averni-Regular';
  
    & > label {
        color: $silver;
        font-size: 0.8125rem;
        margin-top: 1rem;
    }

    &__input {
        @extend .name-form__input;
        height: 5rem;

          @include desktop{
            height: 10rem;
        }
    }
}

.cta-comments {
    font-family: 'Averni-Demi';
    font-weight: 700;
    background-color: $bandsite-black;
    color: $white;
    border-radius: 0.25rem;
    border: none;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

        
    &:hover {
        background-color: $bandsite-darkblack;
    }

    @include tablet {
        font-size: 0.75rem;
        width: 150px;
    }

    @include desktop {
        width: 150px;
    }


}

.image__container {
    padding-top: 0.5rem;
}