@import 'breakpoints';
@import 'typography';
@import 'mixins';
@import 'variables';


.comments {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    &__image {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
    }
}

#name {
    width: 70%;
    float: right;
    height:2rem;
    border: 1px solid $divider-line-color;
    border-radius: 4px;
    margin-bottom: 1.25rem;
}

#comment-section {
    @extend #name;
    height: 10rem;

}

.label--top {
    color: $secondary-font-color;
    font-size: 0.6125;
}

.comments__button {
    width: 80%;
    background-color: $bandsite-black;
    border: none;
    color: $primary-font-color;
    margin: 1rem, auto;
    height: 2.5rem;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0rem 4rem;

        &:hover {
            background-color: $bandsite-darkblack;
        }
}

article > ul {
    list-style-type: none;
}


