@import 'mixins';
@import 'variables';
@import 'breakpoints';
@import 'typography';



.gallery {

    font-family: 'Averni-Demi';
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background-color: $alabaster;

        @include tablet {
            padding: 0 3.0rem;
            align-items: center;
        }

        @include desktop {
            width: 100%;
            align-items: center;
        }

    &__title {
        font-family: "Averni-Demi";
        margin: 3rem 0 0 0rem;
        padding-left: 0.5rem;

        @include tablet {
            width: 100%;
            display: flex;
            justify-content: start;
            font-size: 2.5rem;
        }

        @include desktop {
            @include gallery-title-tablet;
            padding-left: 16rem;
            padding-bottom: 2rem;
        }
    }

    &__container {
        padding-right: 1rem;

        @include tablet {
            margin: auto;
        }

        @include desktop {
            width: 80vw;
            margin: auto;
            padding-bottom: 2rem;
        }
    }

    &-picture {
        width: 100%;
        filter: grayscale(1);
        padding: 0.5rem;

        &:hover {
            filter: none;
        }

        @include tablet {
            padding: 0.5rem 0.5rem;
            @include image_size(30%);
        }

        @include desktop {
            padding: 0.5rem 0.5rem;
            @include image_size(30%)
        }

    }
}   

