@import 'mixins';
@import 'variables';
@import 'breakpoints';
@import 'typography';


    
.hero {

    font-family: 'Averni-Regular';
    display: flex;
    margin: 0em;
    max-width: 100%;
    max-height: 18em;
    position: relative;

    @include tablet {
        max-height: 35em;
    }

    @include desktop {
        max-height: 102vh;
    }

    &__image {
        width: 100%;
        object-fit: fill;
        z-index: 0;
        margin: 0;

        &--overlay {
            @include hero-image-overlay;
        }
    }

    &-title {

        font-family: 'Averni-Bold';
        color: $white;
        position: absolute;
        bottom: 35%;
        left: 10%;
        z-index: 6;
        font-size: 2rem;

        @include tablet {
            @include hero-title;
            width: 40rem;
        }

        @include desktop {
            @include hero-title;
            font-size: 3.75rem;
            left: 10%;
            bottom: 40%;
            font-family: "Averni-Demi";
        }
    }
}
