@import './variables';
@import './typography';
@import './breakpoints';

// Header Mixins

@mixin navbar-tablet {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding-bottom: 0em;
}

@mixin navbar-links {
    width: 40%;
    height: 3rem;
    margin-left: 2rem;
    padding-bottom: 0rem;
    font-size: 1rem;
}

@mixin navbar-item-tablet {
    width: fit-content;
    font-size: 1rem;
    padding-bottom: 0;
}

// Hero Bio Mixins

@mixin hero-image-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    overflow: hidden;
    margin: 0;
}

@mixin hero-title {
    display: block;
    width: 15em;
    padding: 0em;
    bottom: 25%;
    font-size: 4.5rem;
    left: 5%;
}

@mixin image_size ($width){
    object-fit: contain;
    width: $width;
}

// Bio mixins

@mixin bio-quote-tablet {
    font-family: 'Averni-Demi';
        font-weight: 700;
        font-size: 1.25rem;

        @include tablet {
            font-size: 1.8rem;
            margin-bottom: 0;

            &--size {
                font-size: 1.5rem;
                margin-top: 0;
            }
        }
}

@mixin bio-title-tablet {
    font-family: 'Averni-Demi';
    font-size: 2.5rem;
}

@mixin bio-subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
}

@mixin bio-article-tablet {

        columns: 2;
        margin-top: 0;
        padding-top: 0;

        > p {
            margin-top: 0;
        }
}

// gallery mixins 

@mixin gallery-title-tablet {
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 2.5rem;
}

//footer mixins

@mixin footer-socials-tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin footer-contacts-tablet {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em;
}

// hero shows mixins 

@mixin hero-shows-mobile {
    font-family: 'Averni-Regular';
    display: flex;
    margin: 0em;
    max-width: 100%;
    max-height: 18em;
    position: relative;
}

@mixin hero-shows-title-mobile {
    font-family: 'Averni-Bold';
    color: $white;
    // position: absolute;
    // bottom: 35%;
    // left: 10%;
    // z-index: 6;
    font-size: 1.5rem;
}

@mixin hero-shows-music-mobile {
    width: 100%;
    max-height: 30%;
    // position: absolute;
    // left: 10%;
    // bottom: 10%;
    // z-index: 10;
}

@mixin hero-shows-music-tablet {
    &__music {
        width: 60%;
        max-height: 40%;
        // position: absolute;
        // bottom:25%;
        // left: 0;
        padding-left: 1rem;
        z-index: 10;
      
      }
}

@mixin hero-shows-music-desktop {
    &__music {
        width: 35%;
        max-height: 40%;
        // position: absolute;
        // right: 10%;
        // bottom: 50%;
        // z-index: 10;
      
      }
}

@mixin hero-shows-showlist-tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 0;
    font-size: 0.875rem;
}
