@import 'variables';
@import 'mixins';
@import 'typography';
@import 'breakpoints';


.shows {
    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-family: 'Averni-Regular';
    text-align: left;

    @include tablet {
        padding: 0 1rem;
        overflow-x: hidden;
    }

    @include desktop {
    }

    &__heading {
        font-size: 1.5rem;
        color: $bandsite-black;
        padding-left: 1rem;
        font-family: 'Averni-Demi';

        @include tablet {
            font-size: 2.25rem;
        }

        @include desktop {
            padding-left: 8rem;
            padding-top: 4rem;
            font-size: 2.5rem;
        }
    }
    
    &-schedule {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $mercury;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-left: 1rem;
        margin: 0;

        &:hover {
            background-color: $alabaster;
        }

        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin-left: 0;
            font-size: 0.875rem;
        }

        @include desktop {
            @include hero-shows-showlist-tablet;
            max-width: 80%;
            width: 50%;
            margin-left: 20%;
            margin-right: 8rem;
            padding-left: 8rem;
            font-size: 1.25rem;
        }

        &--flex {
            @include tablet {
                width: 60%;
                border-bottom: none;
                margin-left: 0;
                justify-content: space-evenly;
            }

            @include desktop {
                padding-right: 10rem;
                border-bottom: none;
            }
        }
    }

    &__label {
        font-size: 0.625rem;
        color: $silver;
        line-height: 1.5rem;
        margin: 0;

        @include tablet {
            width: 5rem;
            padding-left: 2rem;
            font-size: 0.75rem;
        }

        @include desktop {
            font-size: 0.75rem;
            padding-right: 5rem;
        }
        
    }

    &__detail {
        font-size: 0.8125rem;
        color: $bandsite-darkblack;
        line-height: 1.25rem;

        &--bold {
            font-weight: 700;
        }
    }

}

.cta-shows {
        font-family: 'Averni-Demi';
        font-weight: 700;
        background-color: $bandsite-black;
        color: $white;
        border-radius: 0.25rem;
        border: none;
        height: 2.5rem;
        width: 100%;
        text-transform: uppercase;
        font-size: 0.875rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    
            
        &:hover {
            background-color: $bandsite-darkblack;
        }

        @include tablet {
            width: 25%;
            font-size: 0.75rem;         
        }

        @include desktop {
            width: 20%;
        }


}