@import 'breakpoints';
@import 'mixins';
@import 'typography';

@include mobile {
    
    .hero {
        position: relative;
        width: 100%;
        max-height: 30%;
        @include mobile-body-footer-text;
        color: $primary-font-color;
        margin-bottom: 0em;

        &__image {
            width: 100%;
            height: auto;
            object-fit: contain;
            margin-bottom: 0em;
        }
    
        &__overlay {
            @include hero-overlay;
            z-index: 2;
        }

        &__title {
            position: absolute;
            top: 5%;
            z-index: 10;
            width: 70%;
            height: 50%;
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        &__album {
            @include mobile-modified-subheader;
            line-height: 2rem;
            font-size: 1.5rem;
        }

        &__music {
          width: 80%;
          max-height: 30%;
          position: absolute;
          left: 10%;
          bottom: 10%;
          z-index: 10;
        }
        
    }
    
    
}