// Primary colors
$bandsite-black: #323232;
$secondary-font-color: #AFAFAF;
$primary-font-color: #FFFFFF;

// Secondary colors 
$bandsite-darkblack: black;
$divider-line-color: #E1E1E1;
$alternative-light-bg-color: #FAFAFA;

// Dimensions
$bio-desk-section-width: 50%;