// Primary Colors

$bandsite-black: #323232; // primary text color (dark on white)
$silver: #AFAFAF; //secondary text color
$white: #FFFFFF; // primary text color (white on dark)

// Secondary Colors

$bandsite-darkblack: #000000; // cta hover state
$mercury: #E1E1E1; // Divider line. Form field outline
$alabaster: #FAFAFA; // alternative light background color

