// Primary colors
$bandsite-black: #323232;
$secondary-font-color: #AFAFAF;
$primary-font-color: #FFFFFF;

// Secondary colors 
$bandsite-darkblack: black;
$divider-line-color: #E1E1E1;
$alternative-light-bg-color: #FAFAFA;

@import "./partials/typography";

@mixin h1__headers {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

@mixin subheader {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

@mixin link-state ($color) {
    border-bottom: 2px solid $color;
}



@media (min-width: 320px) and (max-width: 480px) {
    
    * {
        //font-family: Arial, Helvetica, sans-serif;
        background-color: $bandsite-black;
        color: $primary-font-color;
    };

    a {
        text-decoration: none;
        padding-bottom: 2px;
    };

    body {
        display: flex;
        flex-direction: column;
        font-family: 'Avenir-Regular';
    }

    .navbar {

        display: flex;
        flex-direction: column;
        align-items: center;

        &__img {
            width: 10em;
            margin: 1.5em auto;
        }

        &__links {
            display: flex;
            flex-direction: row;
            gap: 10em;
        }

        &__links:hover {
            @include link-state($divider-line-color);
        }
    }

    .hero {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1em;
        // width: 100%;
        // height: 0em;

        &__image {
            object-fit: contain;
            width: 100%;
           
        }

        &__title {
            position: absolute;
            background: none;
            margin-left: 1em;
        }
    }

}