@font-face {
  font-family: "Avenir-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff");
  font-weight: 800;
}
@media (min-width: 320px) and (max-width: 786px) {
  * {
    max-width: 100%;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    padding-bottom: 2px;
    color: #FFFFFF;
  }
  body {
    margin: 0em;
    display: flex;
    flex-direction: column;
    font-family: "Avenir-Regular";
    max-width: 100%;
  }
  .navbar {
    position: relative;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0em;
    padding-bottom: 1rem;
    height: 7em;
  }
  .navbar__img {
    width: 7.5rem;
    height: 1.25rem;
    transform: translateY(2em);
  }
  .navbar__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
  }
  .navbar__link {
    color: #AFAFAF;
    font-size: 1rem;
    padding-bottom: 0.5em;
    text-decoration: none;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid transparent;
  }
  .navbar__link:hover {
    color: #FAFAFA;
    border-bottom: 2px solid #E1E1E1;
  }
  .hero {
    position: relative;
    width: 100%;
  }
  .hero__image {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__title {
    position: absolute;
    background: none;
    top: 50%;
    left: 10%;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 2rem;
    color: white;
    z-index: 5;
  }
  .hero__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100%;
    bottom: 0;
    height: auto;
  }
  .bio {
    background-color: #FFFFFF;
    color: #323232;
    padding: 0em 1rem;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .bio__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 2rem;
    padding-left: 1em;
  }
  .bio__quote {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    font-size: 1em;
  }
  .bio__image {
    padding: 0.5rem 0rem;
  }
  .gallery {
    background-color: #FAFAFA;
    box-sizing: border-box;
    margin-right: 0em;
    margin-left: 0em;
  }
  .gallery__title {
    background: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #323232;
    padding-left: 2rem;
  }
  .gallery__image {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .footer {
    background-color: #323232;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
  .footer__social--h1 {
    font-size: 2rem;
  }
  .bandsite-logo {
    width: 25%;
    margin-bottom: 1.5rem;
    margin-top: 10%;
  }
  .contact__heading {
    font-weight: 600;
  }
  .social__icons {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
}
@media (min-width: 787px) and (max-width: 1279px) {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0em;
    display: flex;
    flex-direction: column;
    font-family: "Avenir-Regular";
    max-width: 100%;
  }
  .navbar {
    position: relative;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0em;
    padding-bottom: 12px;
    height: 5rem;
    align-content: space-around;
    width: 100%;
  }
  .navbar__img {
    width: 120px;
    height: 20px;
    margin: auto 2rem;
  }
  .navbar__links {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 25%;
    height: 3.25rem;
  }
  .navbar__link {
    color: #AFAFAF;
    font-size: 1rem;
    padding-bottom: 0.5em;
    text-decoration: none;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid transparent;
    padding-left: 0em;
    padding-right: 0em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar__link:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #E1E1E1;
  }
  .hero {
    position: relative;
    width: 100%;
  }
  .hero__image {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__title {
    position: absolute;
    background: none;
    top: 50%;
    left: 10%;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 4rem;
    color: white;
    z-index: 5;
  }
  .hero__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100%;
    bottom: 0;
    height: auto;
  }
  .bio {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FAFAFA;
  }
  .bio__image {
    display: block;
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .bio__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
  }
  .bio__quote {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    font-size: 1.5em;
    line-height: 2rem;
    margin-top: 2rem;
    padding: 0em 5rem;
  }
  .bio__quote--source {
    font-size: 1em;
  }
  .bio__subheader {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-left: 5rem;
  }
  .bio__blurb {
    -moz-columns: 2;
         columns: 2;
    text-align: left;
    padding: 0em 5rem;
  }
  .bio__blurb > p {
    margin-top: 0em;
  }
  .gallery {
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .gallery__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 2rem;
    padding-left: 2rem;
  }
  .gallery__container {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .gallery__image {
    -o-object-fit: contain;
       object-fit: contain;
    width: 30%;
    padding: 0.5rem 0.5rem;
  }
  .footer {
    background-color: #323232;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .footer__social--h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 2.5rem;
  }
  .footer__endnote {
    margin-bottom: 4rem;
  }
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
    line-height: 1.5rem;
  }
  .contact__heading {
    font-weight: 600;
  }
  .social__icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-content: end;
    align-items: end;
  }
  .icons {
    width: 2rem;
    height: 2rem;
  }
  .bandsite-logo {
    position: absolute;
    top: 4.5rem;
    right: 3rem;
  }
}
@media (min-width: 1280px) {
  html, body {
    overflow-x: hidden;
    margin: auto;
  }
  body {
    margin: 0em;
    display: flex;
    flex-direction: column;
    font-family: "Avenir-Regular";
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    margin: 0em;
  }
  .navbar {
    position: relative;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0em;
    padding-bottom: 12px;
    height: 5rem;
    align-content: space-around;
    width: 100%;
    padding-left: 10rem;
  }
  .navbar__img {
    height: 1.25rem;
    width: 7.5rem;
    padding-top: 1rem;
  }
  .navbar__links {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 20%;
    height: 3.5rem;
  }
  .navbar__link {
    color: #AFAFAF;
    font-size: 1rem;
    padding-bottom: 0.5em;
    text-decoration: none;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid transparent;
    padding-left: 0em;
    padding-right: 0em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar__link:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #E1E1E1;
  }
  .hero {
    position: relative;
    width: 100%;
  }
  .hero__image {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__title {
    position: absolute;
    background: none;
    top: 50%;
    left: 10%;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 4rem;
    color: white;
    z-index: 5;
  }
  .hero__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100%;
    bottom: 0;
    height: auto;
  }
  .bio {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
  }
  .bio__image {
    display: block;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .bio__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 65%;
    justify-content: start;
  }
  .bio__quote {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    font-size: 1.5em;
    line-height: 2rem;
    margin: 2rem auto;
    width: 50%;
  }
  .bio__quote--source {
    font-size: 1em;
  }
  .bio__subheader {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    width: 50%;
    justify-content: start;
  }
  .bio__blurb {
    -moz-columns: 2;
         columns: 2;
    text-align: left;
    padding: 0em 5rem;
    width: 50%;
    margin: auto;
  }
  .bio__blurb > p {
    margin-top: 0em;
  }
  .gallery {
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
  }
  .gallery__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 2rem;
    padding-left: 2rem;
    width: 95%;
    justify-content: start;
  }
  .gallery__container {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .gallery__image {
    -o-object-fit: contain;
       object-fit: contain;
    width: 30%;
    padding: 0.5rem 0.5rem;
  }
  .footer {
    background-color: #323232;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    position: relative;
    padding-left: 4.5rem;
  }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }
  .footer__social--h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-size: 2.5rem;
  }
  .footer__endnote {
    margin-bottom: 4rem;
  }
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 4rem;
    line-height: 1.5rem;
  }
  .contact__heading {
    font-weight: 600;
  }
  .social__icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-content: end;
    align-items: end;
  }
  .icons {
    width: 2rem;
    height: 2rem;
  }
  .bandsite-logo {
    position: absolute;
    top: 4.5rem;
    right: 9.5rem;
    height: 1.25rem;
    width: 7.5rem;
  }
}/*# sourceMappingURL=bio.css.map */