@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
header {
  font-family: "Averni-Regular";
  background-color: #323232;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 1rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  header {
    padding: 1.5rem 0 0rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  header {
    padding: 1.5rem 0 0rem 4rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding-bottom: 0em;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding-bottom: 0em;
    padding-left: 3.5rem;
  }
}
.navbar__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0;
  padding: 0em;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__links {
    width: 40%;
    height: 3rem;
    margin-left: 2rem;
    padding-bottom: 0rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__links {
    width: 40%;
    height: 3rem;
    margin-left: 2rem;
    padding-bottom: 0rem;
    font-size: 1rem;
    padding-right: 4rem;
    width: 50%;
  }
}
.navbar__links-item {
  list-style-type: none;
  text-decoration: none;
  color: #AFAFAF;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0em;
  padding-bottom: 1rem;
  border-bottom: 1px solid #323232;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__links-item {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__links-item {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1rem;
    padding-bottom: 0;
  }
}
.navbar__links-item:hover {
  border-bottom: 1px solid #E1E1E1;
  color: #FFFFFF;
  font-family: "Averni-Demi";
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__links-item:hover {
    border-bottom: 2px solid #E1E1E1;
  }
}
.navbar__image {
  height: 20px;
  width: 120px;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__image {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__image {
    padding-bottom: 1rem;
  }
}

@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
.hero {
  font-family: "Averni-Regular";
  display: flex;
  margin: 0em;
  max-width: 100%;
  max-height: 18em;
  position: relative;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .hero {
    max-height: 35em;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    max-height: 102vh;
  }
}
.hero__image {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 0;
  margin: 0;
}
.hero__image--overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  overflow: hidden;
  margin: 0;
}
.hero-title {
  font-family: "Averni-Bold";
  color: #FFFFFF;
  position: absolute;
  bottom: 35%;
  left: 10%;
  z-index: 6;
  font-size: 2rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .hero-title {
    display: block;
    width: 15em;
    padding: 0em;
    bottom: 25%;
    font-size: 4.5rem;
    left: 5%;
    width: 40rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    display: block;
    width: 15em;
    padding: 0em;
    bottom: 25%;
    font-size: 4.5rem;
    left: 5%;
    font-size: 3.75rem;
    left: 10%;
    bottom: 40%;
    font-family: "Averni-Demi";
  }
}

@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
.bio {
  padding: 0 1rem;
  font-family: "Averni-Regular";
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .bio {
    padding: 0 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio {
    padding: 1rem 0rem;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .bio__image {
    margin-bottom: 2rem;
    max-height: 80vh;
  }
}
.bio__title {
  font-family: "Averni-Bold";
  font-weight: 700;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .bio__title {
    font-family: "Averni-Demi";
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__title {
    font-family: "Averni-Demi";
    font-size: 2.5rem;
    font-size: 3rem;
    padding-left: 8rem;
  }
}
.bio__quote {
  font-family: "Averni-Demi";
  font-weight: 700;
  font-size: 1.25rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .bio__quote {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .bio__quote--size {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .bio__quote {
    font-family: "Averni-Demi";
    font-weight: 700;
    font-size: 1.25rem;
    text-align: left;
    font-size: 1.25rem;
    width: 40rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) and ((min-width: 768px) and (max-width: 1279px)) {
  .bio__quote {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .bio__quote--size {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .bio__quote--size {
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;
  }
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .bio__subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__subtitle {
    font-family: "Averni-Bold";
    font-size: 1.5rem;
  }
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .bio__article {
    -moz-columns: 2;
         columns: 2;
    margin-top: 0;
    padding-top: 0;
  }
  .bio__article > p {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .bio__article {
    -moz-columns: 2;
         columns: 2;
    margin-top: 0;
    padding-top: 0;
  }
  .bio__article > p {
    margin-top: 0;
  }
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .bio__image, .bio__quote, .bio__subtitle, .bio__article {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__image, .bio__quote, .bio__subtitle, .bio__article {
    padding: 0 12rem;
  }
}

@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
.gallery {
  font-family: "Averni-Demi";
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: #FAFAFA;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .gallery {
    padding: 0 3rem;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    width: 100%;
    align-items: center;
  }
}
.gallery__title {
  font-family: "Averni-Demi";
  margin: 3rem 0 0 0rem;
  padding-left: 0.5rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .gallery__title {
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 2.5rem;
    padding-left: 16rem;
    padding-bottom: 2rem;
  }
}
.gallery__container {
  padding-right: 1rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .gallery__container {
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    width: 80vw;
    margin: auto;
    padding-bottom: 2rem;
  }
}
.gallery-picture {
  width: 100%;
  filter: grayscale(1);
  padding: 0.5rem;
}
.gallery-picture:hover {
  filter: none;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .gallery-picture {
    padding: 0.5rem 0.5rem;
    -o-object-fit: contain;
       object-fit: contain;
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-picture {
    padding: 0.5rem 0.5rem;
    -o-object-fit: contain;
       object-fit: contain;
    width: 30%;
  }
}

@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
.footer {
  background-color: #323232;
  color: #FFFFFF;
  font-family: "Averni-Regular";
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
  padding: 0 1rem;
  position: relative;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .footer {
    padding: 1rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 1rem 10rem;
  }
}
.footer__endnote {
  font-size: 0.8125rem;
  margin-bottom: 1rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .footer__endnote {
    font-size: 1rem;
    margin: 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__endnote {
    font-size: 1rem;
    margin: 2rem 0;
  }
}
.footer__image {
  height: 20px;
  width: 120px;
  margin: 1rem 0;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .footer__image {
    position: absolute;
    top: 3.5rem;
    right: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__image {
    position: absolute;
    top: 3.5rem;
    right: 12rem;
  }
}

.socials {
  width: 100%;
  height: auto;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .socials {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
}
.socials__title {
  font-family: "Averni-Demi";
  font-size: 2rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .socials__title {
    width: 70%;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .socials__title {
    width: 60%;
    font-size: 2.5rem;
  }
}
.socials__links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .socials__links {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .socials__links {
    width: 30%;
  }
}
.socials__links-icon {
  width: 125%;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .contacts {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em;
  }
}
.contacts__information {
  font-size: 0.8125 rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .contacts__information {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.contacts__information--bold {
  font-weight: 700;
}

@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
.comments {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  font-family: "Averni-Regular";
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comments {
    border: 1px solid pink;
    align-items: start;
    max-width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    height: auto;
  }
}
.comments__header {
  font-family: "Averni-Demi";
  font-weight: 700;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comments__header {
    font-size: 2.5rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__header {
    font-size: 2.5rem;
    padding-left: 8rem;
  }
}
.comments__container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comments__container {
    border: 1px solid green;
    justify-content: end;
    width: 80%;
    padding-left: 7rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__container {
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #E1E1E1;
  }
}
.comments__form {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-left: 1rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comments__form {
    justify-content: end;
    align-items: end;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comments__form {
    align-items: end;
  }
}
.comments__image {
  height: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.25rem;
  border-radius: 50%;
}

.name-form, .comment-form {
  display: flex;
  flex-direction: column;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .name-form, .comment-form {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .name-form, .comment-form {
    width: 100%;
  }
}
.name-form > label, .comment-form > label {
  color: #E1E1E1;
  font-size: 0.8125rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .name-form > label, .comment-form > label {
    font-size: 0.875rem;
  }
}
.name-form__input, .comment-form__input {
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
  border-radius: 4px;
  box-shadow: none;
  height: 1.5rem;
  text-align: start;
}
@media screen and (min-width: 1280px) {
  .name-form__input, .comment-form__input {
    height: 2rem;
  }
}

.comment-form {
  font-family: "Averni-Regular";
}
.comment-form > label {
  color: #AFAFAF;
  font-size: 0.8125rem;
  margin-top: 1rem;
}
.comment-form__input {
  height: 5rem;
}
@media screen and (min-width: 1280px) {
  .comment-form__input {
    height: 10rem;
  }
}

.cta-comments {
  font-family: "Averni-Demi";
  font-weight: 700;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 0.25rem;
  border: none;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cta-comments:hover {
  background-color: #000000;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .cta-comments {
    font-size: 0.75rem;
    width: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .cta-comments {
    width: 150px;
  }
}

.image__container {
  padding-top: 0.5rem;
}

@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Averni-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Averni-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-style: bold;
}
@font-face {
  font-family: "Averni-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
.image {
  height: 2rem;
  width: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: gray;
}

.comments__list {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .comments__list {
    max-width: 66%;
    margin: auto;
    font-size: 1.25rem;
    align-items: center;
  }
}

.comments-section {
  font-family: "Averni-Regular";
  display: flex;
  flex-direction: row;
  font-size: 0.8125rem;
  margin-top: 1rem;
  padding: 0 1rem 1rem 0;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comments-section {
    font-size: 1rem;
    padding: 0 12.5%;
    width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .comments-section {
    font-size: 1rem;
    width: 100%;
  }
}
.comments-section__details {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comments-section__details {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comments-section__details {
    width: 100%;
  }
}
.comments-section__details-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}

.name {
  font-weight: 700;
}

.date {
  color: #AFAFAF;
}

body {
  box-sizing: border-box;
  margin: 0em;
  overflow-x: hidden;
}/*# sourceMappingURL=bio.css.map */