@import './partials/header';
@import './partials/hero-bio';
@import './partials/biography';
@import './partials/gallery';
@import './partials/footer';
@import './partials/forms';

body  {
    box-sizing: border-box;
    margin: 0em;
    overflow-x: hidden;
}