@import './partials/footer';
@import './partials/header';
@import './partials/variables';
@import './partials/typography';
@import './partials/shows-hero';
@import './partials/shows-main';


body {
    margin: 0em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}